<div class="index">
	<div class="sixteen columns top-bar">
		<a class="button-1 small sign-out" {{action 'logout'}}>Sign Out</a>
		Signed in as <span class="user">Andreas Stocker</span>
	</div>
  <div class="sixteen columns least-active-students">
    <div>
      <a class="button-1 medium report-students" href="">Report {{model.length}} Students</a>
      <h2>Least Active Students</h2>
      <div>
        {{view Ember.Select content=classes optionLabelPath="content.name"
          optionValuePath="content.id" class="small" selection=selectedClass}}
      </div>
      <table class="table-1">
        <tr class="headings">
          <th>Name</th>
          <th>
            Last Active
          </th>
          <th>Score</th>
        </tr>
        {{#each model}}
          <tr>
            <td>{{fullName}}</td>
            {{#if neverActive}}
							<td>Never</td>
            {{else}}
							<td>{{daysSinceActive}} days ago</td>
            {{/if}}
            <td>{{score}}</td>
          </tr>
        {{/each}}
        <tr class="show-more">
          <td colspan="100%">Show All</td>
        </tr>
      </table>
    </div>
  </div>
</div>
